<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body class="">
    <header>
        <div>
            <section>
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" class="logo">
            </section>
            <section><link rel="stylesheet" href="<i class="fa-solid fa-magnifying-glass">
                <p>Lugar para barra de busqueda</p>
                <p>Compra en cuotas y sin tarjeta de credito</p>
            </section>
        </div>    
        <div>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section>
            <div><h2>Basado en tu última visita</h2></div>
            <div>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="cafeimg">
                    <div>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                    </article>
            </div>
            <div>
            <article>   
             <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <p>$230.000</p>
                <p>20% off</p>
                <p>MacBook Pro 2019</p>
                </article>
            </div>                
            <div>
            <article>         
             <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy">
                <p>$70.500</p> 
                <p>10% off</p> 
                <p>Samsung Galaxy S10</p>
             </article>
            </div>      
           <div>
               <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                <p>$23.200</p>  
                <p>5% off</p>  
                <p>SmartTv Samsung 43"</p>  </h1>
              </article>
            </div>
        </section>
        <section>
            <div><h2>Ofertas</h2></div>
            <div><article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="cafeimg">
                    <div>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                    </article></div>
            <div><article>   
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                   <p>$230.000</p>
                   <p>20% off</p>
                   <p>MacBook Pro 2019</p>
                   </article></div>
            <div><article>         
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy">
                   <p>$70.500</p> 
                   <p>10% off</p> 
                   <p>Samsung Galaxy S10</p>
                </article></div>
            <div><article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                <p>$23.200</p>  
                <p>5% off</p>  
                <p>SmartTv Samsung 43"</p>  </h1>
              </article></div>
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>