<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <section class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" class="logo">
            </section>
            <section>
                <link rel="stylesheet" href="<i class="fa-solid fa-magnifying-glass">
                <div class="form" action="#" method="GET">
                <div class="input" class="barra">Buscar</div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </section>
        </div>    
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas" class="image">
    </section>
    <main>
        <section class="visitas">
            <div><h2>Basado en tu última visita</h2></div>
            <div>
            <article class="article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="image">
                    <div>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                    </article>
            </div>
            <div>
            <article class="article">   
             <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="image">
                <p>$230.000</p>
                <p>20% off</p>
                <p>MacBook Pro 2019</p>
                </article>
            </div>                
            <div>
            <article class="article">         
             <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy" class="image">
                <p>$70.500</p> 
                <p>10% off</p> 
                <p>Samsung Galaxy S10</p>
             </article>
            </div>      
           <div>
               <article class="article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" class="image">
                <p>$23.200</p>  
                <p>5% off</p>  
                <p>SmartTv Samsung 43"</p>  </h1>
              </article>
            </div>
        </section>
        <section class="ofertas">
            <div><h2>Ofertas</h2></div>
            <div>
                <article class="article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="image">
                    <div>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                    </article></div>
            <div>
                <article class="article">   
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="image">
                   <p>$230.000</p>
                   <p>20% off</p>
                   <p>MacBook Pro 2019</p>
                   </article></div>
            <div>
                <article class="article">         
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy" class="image">
                   <p>$70.500</p> 
                   <p>10% off</p> 
                   <p>Samsung Galaxy S10</p>
                </article></div>
            <div>
                <article class="article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" class="image">
                <p>$23.200</p>  
                <p>5% off</p>  
                <p>SmartTv Samsung 43"</p>  </h1>
              </article></div>
        </section>
    </main>
    <footer class="alineacion">
        <section class="pie">
        <h3><i class="fa-solid fa-credit-card fa-2xl"></i></h3>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
            pago. ¡Y siempre es seguro!</p>
            <br>
        <h3><i class="fa-solid fa-gift fa-2xl"></i></h3>
        <h4>Envío gratis desde $ 1.999</h4>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos</p>
            <br>
        <h3><i class="fa-solid fa-user-shield fa-2xl"></i></h3>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegido.</p>
            <h5>Copyright © 1999-2019 MercadoLiebre S.R.L.</h5>
        </section>
    </footer>
</body>
</html>